body {
    background: gray;
    
}

input, button {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
  
}

#users-section,.input{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
#name,#age,#city{
    width: 25%;
}


.user-card {
    border: 1px solid white;
    color: white;
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    width: 25%;
    text-align: center;
    
}

.flex {
    display: flex;
    gap: 10px;
    margin: 20px;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.m-5 {
    margin: 5px;
}

input {
    outline: none;
}
#pagination{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} button{
    margin: 15px;
}
.scroll,h1{
    text-align: center;
}

